<!-- <div @background class="balance-page">
    <h1>{{ user }}</h1>
    <div>{{ email }}
        <br>
        {{ phone }}
        <div class="balance-field">
            Your current balance is: {{ balance }}$
            <br>
            available till {{ expirationDate }}
        </div>
    </div>
</div> -->

<div class="container">
  <div class="sub-container">
    <form #form="ngForm" (ngSubmit)="createDiet(form.value)">
      <label>Breakfast:</label>
      <select name="breakfast" ngModel class="custom-select">
        <option [ngValue]="breakfast" *ngFor="let breakfast of diets.breakfasts">{{breakfast}}</option>
      </select>

      <label>Lunch:</label>
      <select name="lunch" ngModel class="custom-select">
        <option [ngValue]="lunch" *ngFor="let lunch of diets.lunches">{{lunch}}</option>
      </select>

      <label>Dinner:</label>
      <select name="dinner" ngModel class="custom-select">
        <option [ngValue]="dinner" *ngFor="let dinner of diets.dinner">{{dinner}}</option>
      </select>
      <label>User:</label>
      <select name="user" ngModel class="custom-select">
        <option [ngValue]="user" *ngFor="let user of users">{{user?.email}}</option>
      </select>
      <button class="btn btn-primary" type="submit">Submit</button>
    </form>
  </div>
</div>
