<div class="menu">
    <div class="logo"><img src="..\assets\logo_white.png"  class="logo-image" alt="" width="45"></div>
    <div [routerLink]="['/home']" class="menu-item">Home</div>
    <div [routerLink]="['/schedule']" class="menu-item">Schedule</div>
    <div [routerLink]="['/cash-balance']"class="menu-item">Cash Balance</div>
    <div class="menu-item">Diet plan</div>
    <div class="profile">
        <img src="..\assets\avatar_icon.png" class="avatar" alt="" width="35">
        <div class="profile-name">Denis Maximenko</div>
    </div>
</div>
