<div class="menu">
    <div class="logo"><img src="..\assets\logo_white.png"  class="logo-image" alt="" width="45"></div>
    <div [routerLink]="['/home']" class="menu-item" id="home">Home</div>
    <div [routerLink]="['/schedule']" class="menu-item" id="schedule">Schedule</div>
    <div [routerLink]="['/cash-balance']" class="menu-item" id="cashBalance">Cash Balance</div>
    <div [routerLink]="['/diet-plan']" class="menu-item" id="dietPlan">Diet plan</div>
    <div class="profile" ngbDropdown>
        <img src="..\assets\avatar_icon.png" class="avatar" alt="" width="35">
        <div class="profile-name" ngbDropdownToggle id="profile">Denis Maximenko</div>
        <div ngbDropdownMenu aria-labelledby="dropdownBasic1" class="mt-2 dropdown">
            <button ngbDropdownItem class="dropdown-item">Home</button>
            <button ngbDropdownItem class="dropdown-item">Settings</button>
            <button ngbDropdownItem class="dropdown-item">Help</button>
            <hr>
            <button (click)="logout()" ngbDropdownItem class="dropdown-item">Log out</button>
          </div>
    </div>
</div>
